<!-- INCLUDE overall_header.html -->

<h2>{L_ABBC3_HELP_TITLE}</h2>

<div class="clear" id="faqlinks"></div>

<!-- BEGIN bbc_row -->

	<div class="panel <!-- IF bbc_row.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
		<div class="inner"><span class="corners-top"><span></span></span>

		<div class="content">
			<h2>{L_ABBC3_HELP_DESC} : <strong>{bbc_row.ABBC3_HELP_DESC}</strong></h2>
			<dl class="faq">
				<dt><strong>{L_ABBC3_HELP_WRITE} :</strong></dt>
				<dd>{bbc_row.ABBC3_HELP_WRITE}</dd>
				<hr class="dashed" />
				<dt><strong>{L_ABBC3_HELP_VIEW} :</strong></dt>
				<dd>{bbc_row.ABBC3_HELP_VIEW}</dd>
				<hr class="dashed" />
				<dd><a href="#faqlinks" class="top2">{L_BACK_TO_TOP}</a></dd>
			</dl>
		</div>

		<span class="corners-bottom"><span></span></span></div>
	</div>
	
<!-- END bbc_row -->

<!-- IF .bbc_custom_row -->

<div class="clear"></div>
<h2>{L_ABBC3_HELP_CUSTOM_TITLE}</h2>

<div class="clear"></div>

<!-- BEGIN bbc_custom_row -->

	<div class="panel <!-- IF bbc_custom_row.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
		<div class="inner"><span class="corners-top"><span></span></span>

		<div class="content">
			<h2>{L_ABBC3_HELP_DESC} : <strong>{bbc_custom_row.ABBC3_HELP_DESC}</strong></h2>
			<dl class="faq">
				<dt><strong>{L_ABBC3_HELP_WRITE} :</strong></dt>
				<dd>{bbc_custom_row.ABBC3_HELP_WRITE}</dd>
				<hr class="dashed" />
				<dt><strong>{L_ABBC3_HELP_VIEW} :</strong></dt>
				<dd>{bbc_custom_row.ABBC3_HELP_VIEW}</dd>
				<hr class="dashed" />
				<dd><a href="#faqlinks" class="top2">{L_BACK_TO_TOP}</a></dd>
			</dl>
		</div>

		<span class="corners-bottom"><span></span></span></div>
	</div>
	
<!-- END bbc_custom_row -->

<!-- ENDIF -->
<!-- INCLUDE overall_footer.html -->