/*  phpBB 3.0 Style Sheet
    --------------------------------------------------------------
	Style name:			proSilver
	Based on style:		proSilver (this is the default phpBB 3 style)
	Original author:	leviatan21 < info@mssti.com > (Gabriel) http://www.mssti.com/phpbb3/
	Modified by:		leviatan21 < info@mssti.com > (Gabriel) http://www.mssti.com/phpbb3/
	
	Copyright 2008 leviatan21
    --------------------------------------------------------------
*/
.cat {
	text-indent: 0;
}

.helpline { 
	width:99%;
	height:30px;
	overflow:hidden;
	background-color:transparent !important;
	border-style:none;
	font-size:10px;
}

#abbc3posttable textarea.inputbox {
	width: 100%;
	height: 300px;
}

#abbcode_wizards {
	font-size:1em;
}
#abbcode_wizards #preview {
	text-align:center;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
#abbcode_wizards select, #abbcode_wizards input, #abbcode_wizards label {
	font-size:1em;
}
.abbc3_link {
	float: right;
	margin:8px 8px 0 0;
	padding: 0;
}
#abbc3posttable {
	border: 1px solid #C0C0C0;
	border-collapse: collapse;
	vertical-align:top;
}
#abbc3posttable select {
	height:20px;
	margin:3px 0;
/*	font-size:0.8em;	*/
}
#abbc3posttable option {
	background-color:#eeeeee;
}
#abbc3posttable option.selected {
	color:black;
	font-weight:bold;
	font-style:italic;
}
#abbc3posttable tr, #abbc3posttable td, #abbc3posttable div {
	height:26px;
	margin:0;
	padding:0 0 0 2px;
	vertical-align:top;
}
#abbc3posttable .btnbbcode3, #abbc3posttable .option.genmed {
	height:20px;
	vertical-align:top;
	margin:3px 0 4px 0;
	padding:0;
	cursor: pointer;
	background-color:transparent !important;
	padding:1px;
}
#abbc3posttable .button2{
	padding:0;
	margin:0;
}
.editor_Button:hover {
	background: #FAFAFA url("images/bg/bg_button.gif");
}

/* MOD : add button over - START **/
/* DELETE ME 1
.editor_Button {
	background: url("images/bg/button_background.gif");
	border: 1px solid #6593CF;
	padding:1px;
}
.editor_Button:hover {
	background: #FCEEC1 url("images/bg/button_over.gif");
	border: 1px solid #FFBD69;
}
/* DELETE ME 2
/** MOD : add button over - END **/

#abbc3posttable .dot {
	margin:3px 0;
	padding:0;
	cursor:default;
	background-color:transparent !important;
}
/** Place the testlink files in a scroll box **/
dl.testlink {
	margin: 0 1px;
	padding: 5px;
	height: auto;
	width: 99%;
	word-wrap: break-word;
	overflow: hidden;
	display: block;
	white-space: nowrap;
	font: 0.9em Monaco, "Andale Mono","Courier New", Courier, mono;
	position:left;
	background-color: #FFFFFF;
	border: 1px solid #dbdbdb;
}

/** Spoiler - Start **/
.spoiltitle, .spoilcontent {
	margin: 0 1px 0 25px;
	padding: 5px;
	color: #000000;
	border: 1px solid #dbdbdb;
	font-size: 0.95em;
}
.spoiltitle {
	background-color: #ebebeb;
	border-width: 1px 1px 0 1px;
}
.spoilcontent {
	background-color: #ebebeb;
	border-width: 0 1px 1px 1px;
	line-height: 1.4em;
	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
}
.btnspoil {
	color: #000;
	background: #FAFAFA;
	border: 1px solid #666666;
	font-size: 1em;
	width: auto !important;
	padding: 1px 0;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	cursor: pointer;
}
input.btnspoil:hover {
	border: 1px solid #BC2A4D;
	background-color: #ECECEC;
	color: #BC2A4D;
}
/** Spoiler - End **/

/** thumbnails - Start **/
.hoverbox img { background:#eee; color:inherit; border-color:#ddd #bbb #aaa #ccc; border-style:solid; border-width:1px; margin:3px; padding:5px; }
/** thumbnails - End **/

/** Image Resizer JS - Start **/
table.ncode_imageresizer_warning { background: #FFFFE1; color: #000000; border: 1px solid #CCC; cursor: pointer; }
table.ncode_imageresizer_warning td { font-size: 10px; vertical-align: middle; text-decoration: none; }
table.ncode_imageresizer_warning td.td1 { padding: 2px; }
/** Image Resizer JS - End **/

/** NFO bbcode - START
/** IE6 Only **/
* html.nfo { line-height:86%; letter-spacing:-2.9px; font-size:10px; font-family:Terminal; }
/** IE7 Only **/
*:first-child+html .nfo { line-height:86%; letter-spacing:-2.9px; font-size:10px; font-family:Terminal; }
.nfo { color:#000000; font-weight:normal; line-height:70%; letter-spacing:-2.5px; font-size:9px; font-family:"Courier New"; background-color:#ffffff; border:solid 1px #666666; }
/** NFO bbcode - END **/

/** ed2k bbcode - START **/
.ed2k_div1  {margin:0; padding:5px 0; width:100%; color:#ffffff; border:1px solid #dbdbdb; background-color:#999999; text-align:center; font-size:0.9em; font-weight:bold; }
.ed2k_div2  {margin:0; padding:0    ; width:100%; color:#000000; border:1px solid #dbdbdb; background-color:#E4F9DB;                    display:none; }
.ed2k_table {margin:0; padding:5px  ; width:100%;                                          border-collapse:collapse;                    }
.ed2k_col1  {                         width:5%  ; border:1px solid #999999;                                          text-align:center; }
.ed2k_col2  {margin:0; padding:0 5px; width:95% ; border:1px solid #999999;                                          text-align:left; }
/** ed2k bbcode - END **/

/** Moderator bbcode - START **/
#ModTable td.row1 { background-color: #ff6060; }
#ModTable td.row2 { border-bottom:1px solid #000000; }
#ModTable .exclamation { font-weight:bold; font-family:"Times New Roman", Verdana; font-size:45px; color:#ffffff; }
#ModTable { background:#fafafa; border:1px solid #000000; font-family:Verdana, "Trebuchet MS", "Lucida Grande", Helvetica, Arial, sans-serif; font-size:0.85em; font-weight:normal; color:#000000; overflow:hidden; }
/** Moderator bbcode - END **/
.codetitle, .codecontent{overflow: auto;}