<!-- // MOD : Advanced BBCode Box 3 (V1.0.7) - START -->

<script type="text/javascript">
// <![CDATA[

/**
* COMMON DHTML FUNCTIONS
* These are handy functions I use all the time.
* By Seth Banks http://www.subimage.com/
* Up to date code can be found at http://www.subimage.com/dhtml/
* This code is free for you to use anywhere, just keep this comment block.
*/

/**
* X-browser event handler attachment and detachment
* TH: Switched first true to false per http://www.onlinetools.org/articles/unobtrusivejavascript/chapter4.html
*
* @argument obj - the object to attach event to
* @argument evType - name of the event - DONT ADD "on", pass only "mouseover", etc
* @argument fn - function to call
*/
function addEvent( obj, evType, fn )
{
	if ( obj.addEventListener )
	{
		obj.addEventListener( evType, fn, false );
		return true;
	}
	else if ( obj.attachEvent )
	{
		var r = obj.attachEvent( "on"+evType, fn );
		return r;
	}
	else
	{
		return false;
	}
}

function removeEvent( obj, evType, fn, useCapture )
{
	if ( obj.removeEventListener )
	{
		obj.removeEventListener( evType, fn, useCapture );
		return true;
	}
	else if ( obj.detachEvent )
	{
		var r = obj.detachEvent( "on"+evType, fn );
		return r;
	}
	else
	{
		alert("Handler could not be removed");
	}
}

/**
* Code below taken from - http://www.evolt.org/article/document_body_doctype_switching_and_more/17/30655/
* Modified 4/22/04 to work with Opera/Moz (by webmaster at subimage dot com)
* Gets the full width/height because it's different for most browsers.
*/
function getViewportHeight()
{
	if ( window.innerHeight != window.undefined )
	{
		return window.innerHeight;
	}

	if ( document.compatMode == 'CSS1Compat' )
	{
		return document.documentElement.clientHeight;
	}

	if ( document.body )
	{
		return document.body.clientHeight;
	}
	
	return window.undefined;
}

function getViewportWidth()
{
	var offset = 17;
	var width = null;

	if ( window.innerWidth != window.undefined )
	{
		return window.innerWidth; 
	}

	if ( document.compatMode == 'CSS1Compat' )
	{
		return document.documentElement.clientWidth; 
	}

	if ( document.body )
	{
		return document.body.clientWidth; 
	}
}

/**
* Gets the real scroll top
*/
function getScrollTop()
{
	if ( self.pageYOffset ) // all except Explorer
	{
		return self.pageYOffset;
	}
	else if ( document.documentElement && document.documentElement.scrollTop ) // Explorer 6 Strict
	{
		return document.documentElement.scrollTop;
	}
	else if ( document.body ) // all other Explorers
	{
		return document.body.scrollTop;
	}
}

function getScrollLeft()
{
	if ( self.pageXOffset ) // all except Explorer
	{
		return self.pageXOffset;
	}
	else if ( document.documentElement && document.documentElement.scrollLeft ) // Explorer 6 Strict
	{
		return document.documentElement.scrollLeft;
	}
	else if ( document.body ) // all other Explorers
	{
		return document.body.scrollLeft;
	}
}

/**
* SUBMODAL v1.5 By Seth Banks http://www.subimage.com/
* Used for displaying DHTML only popups instead of using buggy modal windows.
*
* Contributions by:
* 	Eric Angel - tab index code
* 	Scott - hiding/showing selects for IE users
*	Todd Huss - inserting modal dynamically and anchor classes
*
* Up to date code can be found at http://www.subimage.com/dhtml/subModal
* This code is free for you to use anywhere, just keep this comment block.
*/

// Popup code
var gPopupMask = null;
var gPopupContainer = null;
var gPopFrame = null;
var gReturnFunc;
var gPopupIsShown = false;
var gDefaultPage = '{T_IMAGESET_PATH}/bbcode_box/abbcode_loading.html';
var gHideSelects = false;
var gReturnVal = null;

var gTabIndexes = new Array();
// Pre-defined list of tags we want to disable/enable tabbing into
var gTabbableTags = new Array("A","BUTTON","TEXTAREA","INPUT","IFRAME");

// If using Mozilla or Firefox, use Tab-key trap.
if ( !document.all )
{
	document.onkeypress = keyDownHandler;
}

/**
* Initializes popup code on load.
*/
function initPopUp()
{
	gPopupMask = document.getElementById("popupMask");
	gPopupContainer = document.getElementById("popupContainer");
	gPopFrame = document.getElementById("popupFrame");

	// check to see if this is IE version 6 or lower. hide select boxes if so maybe they'll fix this in version 7?
	var brsVersion = parseInt(window.navigator.appVersion.charAt(0), 10);
	if ( brsVersion <= 6 && window.navigator.userAgent.indexOf("MSIE") > -1 )
	{
		gHideSelects = true;
	}
}

/**
* @argument width - int in pixels
* @argument height - int in pixels
* @argument url - url to display
* @argument function - funtion to do intead url
* @argument returnFunc - function to call when returning true from the window.
* @argument showCloseBox - show the close box - default true
*/
function showPopWin( bbcode, url, todoFunc, width, height, returnFunc, showCloseBox )
{
	if ( !url && oSelectLength>0 && bbcode != 'abbc3_table')
	{
		todoFunc; return ;
	}

	// show or hide the window close widget
	if ( showCloseBox == null || showCloseBox == true )
	{
		document.getElementById("popCloseBox").style.display = "block";
	}
	else
	{
		document.getElementById("popCloseBox").style.display = "none";
	}

	gPopupIsShown = true;
	disableTabIndexes();
	gPopupMask.style.display = "block";
	gPopupContainer.style.display = "block";
	// calculate where to place the window on screen
	centerPopWin( width, height );

	var titleBarHeight = parseInt( document.getElementById("popupTitleBar").offsetHeight, 10 );

	gPopupContainer.style.width = width + "px";
	gPopupContainer.style.height = ( height + titleBarHeight ) + "px";

	setMaskSize();

	// need to set the width of the iframe to the title bar width because of the dropshadow
	// some oddness was occuring and causing the frame to poke outside the border in IE6
	gPopFrame.style.width = parseInt( document.getElementById("popupTitleBar").offsetWidth, 10 ) + "px";
	gPopFrame.style.height = (height) + "px";

	if ( !url )
	{
		todoFunc;
	}
	else
	{
		gPopFrame.src = url;
	}

	gReturnFunc = returnFunc;
	// for IE
	if ( gHideSelects == true )
	{
		hideSelectBoxes();
	}
}

//var gi = 0;
function centerPopWin( width, height )
{
	if ( gPopupIsShown == true )
	{
		if ( width == null || isNaN(width) )
		{
			width = gPopupContainer.offsetWidth;
		}

		if ( height == null )
		{
			height = gPopupContainer.offsetHeight;
		}

		//var theBody = document.documentElement;
		var theBody = document.getElementsByTagName("BODY")[0];
		//theBody.style.overflow = "hidden";
		var scTop = parseInt( getScrollTop(),10 );
		var scLeft = parseInt( theBody.scrollLeft,10 );

		setMaskSize();

		//window.status = gPopupMask.style.top + " " + gPopupMask.style.left + " " + gi++;
		var titleBarHeight = parseInt( document.getElementById("popupTitleBar").offsetHeight, 10 );
		var fullHeight = getViewportHeight();
		var fullWidth = getViewportWidth();

		gPopupContainer.style.top = (scTop + ((fullHeight - (height+titleBarHeight)) / 2)) + "px";
		gPopupContainer.style.left =  (scLeft + ((fullWidth - width) / 2)) + "px";
	}
}

/**
* Sets the size of the popup mask.
**/
function setMaskSize()
{
	var theBody = document.getElementsByTagName("BODY")[0];

	var fullHeight = getViewportHeight();
	var fullWidth = getViewportWidth();

	// Determine what's bigger, scrollHeight or fullHeight / width
	if ( fullHeight > theBody.scrollHeight )
	{
		popHeight = fullHeight;
	}
	else
	{
		popHeight = theBody.scrollHeight;
	}
	
	if ( fullWidth > theBody.scrollWidth )
	{
		popWidth = fullWidth;
	}
	else
	{
		popWidth = theBody.scrollWidth;
	}

	gPopupMask.style.height = popHeight + "px";
	gPopupMask.style.width = popWidth + "px";
}

/**
* @argument callReturnFunc - bool - determines if we call the return function specified
* @argument returnVal - anything - return value 
*/
function hidePopWin( callReturnFunc )
{
	gPopupIsShown = false;
	var theBody = document.getElementsByTagName("BODY")[0];
	theBody.style.overflow = "";
	restoreTabIndexes();
	
	if ( gPopupMask == null )
	{
		return;
	}
	
	gPopupMask.style.display = "none";
	gPopupContainer.style.display = "none";
	
	if ( callReturnFunc == true && gReturnFunc != null )
	{
		// Set the return code to run in a timeout.
		// Was having issues using with an Ajax.Request();
		gReturnVal = window.frames["popupFrame"].returnVal;
		window.setTimeout('gReturnFunc(gReturnVal);', 1);
	}
	
	gPopFrame.src = gDefaultPage;
	// display all select boxes
	if ( gHideSelects == true )
	{
		displaySelectBoxes();
	}
}

/**
 * Sets the popup title based on the title of the html document it contains.
 * Uses a timeout to keep checking until the title is valid.
 */
function setPopTitle()
{
	return;
	if ( window.frames["popupFrame"].document.title == null )
	{
		window.setTimeout("setPopTitle();", 10);
	}
	else
	{
		document.getElementById("popupTitle").innerHTML = window.frames["popupFrame"].document.title;
	}
}

// Tab key trap. if popup is shown and key was [TAB], suppress it.
// @argument e - event - keyboard event that caused this function to be called.
function keyDownHandler( e )
{
    if ( gPopupIsShown && e.keyCode == 9 )
    {
    	return false;
    }
}

// For IE.  Go through predefined tags and disable tabbing into them.
function disableTabIndexes()
{
	if ( document.all )
	{
		var i = 0;
		for ( var j = 0; j < gTabbableTags.length; j++ )
		{
			var tagElements = document.getElementsByTagName(gTabbableTags[j]);
			for ( var k = 0 ; k < tagElements.length; k++ )
			{
				gTabIndexes[i] = tagElements[k].tabIndex;
				tagElements[k].tabIndex="-1";
				i++;
			}
		}
	}
}

// For IE. Restore tab-indexes.
function restoreTabIndexes()
{
	if ( document.all )
	{
		var i = 0;
		for ( var j = 0; j < gTabbableTags.length; j++ )
		{
			var tagElements = document.getElementsByTagName(gTabbableTags[j]);
			for ( var k = 0 ; k < tagElements.length; k++ )
			{
				tagElements[k].tabIndex = gTabIndexes[i];
				tagElements[k].tabEnabled = true;
				i++;
			}
		}
	}
}

/**
* Hides all drop down form select boxes on the screen so they do not appear above the mask layer.
* IE has a problem with wanted select form tags to always be the topmost z-index or layer
*
* Thanks for the code Scott!
*/
function hideSelectBoxes()
{
	for( var i = 0; i < document.forms.length; i++ )
	{
		for( var e = 0; e < document.forms[i].length; e++ )
		{
			if( document.forms[i].elements[e].tagName == "SELECT" )
			{
				document.forms[i].elements[e].style.visibility = "hidden";
			}
		}
	}
}

/**
* Makes all drop down form select boxes on the screen visible so they do not reappear after the dialog is closed.
* IE has a problem with wanted select form tags to always be the topmost z-index or layer
*/
function displaySelectBoxes()
{
	for( var i = 0; i < document.forms.length; i++ )
	{
		for( var e = 0; e < document.forms[i].length; e++ )
		{
			if( document.forms[i].elements[e].tagName == "SELECT" )
			{
				document.forms[i].elements[e].style.visibility = "visible";
			}
		}
	}
}

/**
* Help line tips values
*/
var help_line2 = {

<!-- BEGIN abbc3_tags -->
	{abbc3_tags.TAG_NAME} : "{abbc3_tags.TAG_MOVER}" + "{abbc3_tags.TAG_TIP}",
<!-- END abbc3_tags -->
	
	abbc3_fonttype  : "{L_ABBC3_FONTTYPE_MOVER}"  + "{L_ABBC3_FONTTYPE_TIP}" ,
	abbc3_fontsize  : "{L_ABBC3_FONTSIZE_MOVER}"  + "{L_ABBC3_FONTSIZE_TIP}" ,
	abbc3_fonthili  : "{L_ABBC3_FONTHILI_MOVER}"  + "{L_ABBC3_FONTHILI_TIP}" ,
	abbc3_fontcolor : "{L_ABBC3_FONTCOLOR_MOVER}" + "{L_ABBC3_FONTCOLOR_TIP}",

/** Custom bbcodes **/
<!-- BEGIN abbc3_custom_tags -->
	{abbc3_custom_tags.TAG_NAME} : "{abbc3_custom_tags.TAG_MOVER}" + "{abbc3_custom_tags.TAG_TIP}",
<!-- END abbc3_custom_tags -->
		
	abbc3_tip		:	"{L_BBCODE_STYLES_TIP}"	
	
}

/**
* Show help line tips
*/
function helpline2( help )
{
	if ( !help )
	{
		help = 'abbc3_tip';
	}
	
	var helpbox = document.forms[form_name].helpbox;
	
	helpbox.value = ( help_line2[help] ) ? help_line2[help] : help_line[help];
}

/**
* Main function
*/

// Get client info
var clientPC = navigator.userAgent.toLowerCase();

// Get browser version
var clientVer = parseInt(navigator.appVersion);

var is_ie = ((clientPC.indexOf('msie') != -1) && (clientPC.indexOf('opera') == -1));
var is_win = ((clientPC.indexOf('win') != -1) || (clientPC.indexOf('16bit') != -1));

var oSelectRange, oSelectLength = 0, copy_paste;

addEvent( window, "load", initPopUp );
if ( !is_ie && !is_win )
{
	addEvent( window, "resize", centerPopWin );
	addEvent( window, "scroll", centerPopWin );
	window.onscroll = centerPopWin;
}

function bbstyle2( bbcode, ftvalue )
{
	oSelectRange = false;

	var txtarea = document.forms[form_name].elements[text_name];

	txtarea.focus();

	if ( (clientVer >= 4) && is_ie && is_win )
	{
		oSelectRange = document.selection.createRange();
		oSelectLength = oSelectRange.text.length;
	}
	else if ( txtarea.selectionEnd && ( txtarea.selectionEnd - txtarea.selectionStart > 0 ) )
	{
		var selLength = txtarea.textLength;
		var selStart = txtarea.selectionStart;
		var selEnd = txtarea.selectionEnd;
		var scrollTop = txtarea.scrollTop;

		if ( selEnd == 1 || selEnd == 2 )
		{
			selEnd = selLength;
		}

		var s1 = (txtarea.value).substring(0,selStart);
		var s2 = (txtarea.value).substring(selStart, selEnd);
		var s3 = (txtarea.value).substring(selEnd, selLength);

		oSelectRange = s2;
		oSelectLength = selEnd - selStart;
	}
	switch ( bbcode )
	{
		case "abbc3_justify" :
			bbfontstyle( "[align=justify]", "[/align]" );
			break;
		case "abbc3_right":
			bbfontstyle( "[align=right]", "[/align]" );
			break;
		case "abbc3_center" :
			bbfontstyle( "[align=center]", "[/align]" );
			break;
		case "abbc3_left" :
			bbfontstyle( "[align=left]", "[/align]" );
			break;
		case "abbc3_sup" :
			bbfontstyle( "[sup]", "[/sup]" );
			break;
		case "abbc3_sub" :
			bbfontstyle( "[sub]", "[/sub]" );
			break;
		case "abbc3_bold" :
			bbfontstyle( "[b]", "[/b]" );
			break;
		case "abbc3_italic" :
			bbfontstyle( "[i]", "[/i]" );
			break;
		case "abbc3_underline" :
			bbfontstyle( "[u]", "[/u]" );
			break;
		case "abbc3_strike" :
			bbfontstyle( "[s]", "[/s]" );
			break;
		case "abbc3_pre" :
			bbfontstyle( "[pre]", "[/pre]" );
			break;
		case "abbc3_fade" :
			bbfontstyle( "[fade]", "[/fade]" );
			break;
		case "abbc3_grad" :
			if ( (oSelectLength < 1) || (!oSelectLength) )
			{
				alert( "{L_ABBC3_GRAD_MIN_ERROR}" + oSelectLength );
				return;
			}
			if ( oSelectLength > 120 )
			{
				alert("{L_ABBC3_GRAD_MAX_ERROR}" + oSelectLength);
				return;
			}
			showPopWin( bbcode, '{T_IMAGESET_PATH}/bbcode_box/abbcode_grad.html', null, 650, 150, true );
			txtarea.focus();
			break;
		case "abbc3_rtl" :	//	txtarea.dir=('rtl');
			bbfontstyle( "[dir=rtl]", "[/dir]" );
			break;
		case "abbc3_ltr" :	//	txtarea.dir=('ltr');
			bbfontstyle( "[dir=ltr]", "[/dir]" );
			break;
		case "abbc3_marqd" :
			bbfontstyle( "[marq=down]", "[/marq]" );
			break;
		case "abbc3_marqu" :
			bbfontstyle( "[marq=up]", "[/marq]" );
			break;
		case "abbc3_marql" :
			bbfontstyle( "[marq=left]", "[/marq]" );
			break;
		case "abbc3_marqr" :
			bbfontstyle( "[marq=right]", "[/marq]" );
			break;
		case "abbc3_table" :
			var url_params = new Array()
			url_params[0]=["{L_ABBC3_TABLE_MOVER}"				, "table"					, "/table", "{L_ABBC3_TABLE_TIP}"]				;
			url_params[1]=["{L_ABBC3_TABLE_STYLE}"				, "{L_ABBC3_TABLE_NOTE}"	, ""]											;
			url_params[2]=["{L_ABBC3_ROW_NUMBER}" 		 		, ""						, "{L_ABBC3_ROW_ERROR}"]						;
			url_params[3]=["{L_ABBC3_ROW_STYLE}"  				, "{L_ABBC3_ROW_NOTE}"		, ""]											;
			url_params[4]=["{L_ABBC3_CELL_NUMBER}"				, ""						, "{L_ABBC3_CELL_ERROR}"]						;
			url_params[5]=["{L_ABBC3_CELL_STYLE}"  				, "{L_ABBC3_CELL_NOTE}"		, ""]											;
			showPopWin( bbcode, null, generalwizards(url_params), 550, 350, true );
			break;
		case "abbc3_code" :
			bbfontstyle( "[code]", "[/code]" );
			break;
		case "abbc3_quote" :
			bbfontstyle( "[quote]", "[/quote]" );
			break;
		case "abbc3_spoil" :
			bbfontstyle( "[spoil]", "[/spoil]" );
			break;
		case "abbc3_ed2k" :
			var url_params = new Array()
			url_params[0]=["{L_ABBC3_ED2K_MOVER}"				, "url="					, "/url", "{L_ABBC3_ED2K_NOTE}"]				;
			url_params[1]=["{L_ABBC3_LINK}{L_ABBC3_ED2K_TAG}"	, "ed2k://"					, "{L_ABBC3_NOLINK}{L_ABBC3_ED2K_TAG}"]			;
			url_params[2]=["{L_ABBC3_DESC}{L_ABBC3_ED2K_TAG}"	, "{L_ABBC3_NAME}"			, "{L_ABBC3_NODESC}{L_ABBC3_ED2K_TAG}"]			;
			showPopWin( bbcode, null, generalwizards(url_params), 600, 220, true );
			break;
		case "abbc3_url" :
			var url_params = new Array()
			url_params[0]=["{L_ABBC3_URL_MOVER}"				, "url="					, "/url", "{L_ABBC3_URL_NOTE}"]					;
			url_params[1]=["{L_ABBC3_LINK}{L_ABBC3_WEB_TAG}"	, "http://"					, "{L_ABBC3_NOLINK}{L_ABBC3_WEB_TAG}"]			;
			url_params[2]=["{L_ABBC3_DESC}{L_ABBC3_WEB_TAG}"   	, "{L_ABBC3_NAME}"			, "{L_ABBC3_NODESC}{L_ABBC3_WEB_TAG}"]			;
			showPopWin( bbcode, null, generalwizards(url_params), 600, 200, true );
			break;
		case "abbc3_web" :
			var url_params = new Array()
			url_params[0]=["{L_ABBC3_WEB_MOVER}"				, "web"						, "/web", "{L_ABBC3_WEB_NOTE}"]					;
			url_params[1]=["{L_ABBC3_LINK}{L_ABBC3_WEB_TAG}"	, "http://"					, "{L_ABBC3_NOLINK}{L_ABBC3_WEB_TAG}"]			;
			url_params[2]=[""									, ""						, ""]											;
			url_params[3]=["{L_ABBC3_WIDTH}"  					, "99%"						, "{L_ABBC3_NOWIDTH}"]							;
			url_params[4]=["{L_ABBC3_HEIGHT}"  					, "500"						, "{L_ABBC3_NOHEIGHT}"]							;
			showPopWin( bbcode, null, generalwizards(url_params), 600, 220, true );
			break;
		case "abbc3_email" :
			var url_params = new Array()
			url_params[0]=["{L_ABBC3_EMAIL_MOVER}"				, "email="					, "/email", "{L_ABBC3_EMAIL_NOTE}"]				;
			url_params[1]=["{L_ABBC3_LINK}{L_ABBC3_EMAIL_TAG}"	, ""						, "{L_ABBC3_NOLINK}{L_ABBC3_EMAIL_TAG}"]		;
			url_params[2]=["{L_ABBC3_DESC}{L_ABBC3_EMAIL_TAG}" 	, "{L_ABBC3_NAME}"			, "{L_ABBC3_NODESC}{L_ABBC3_EMAIL_TAG}"]		;
			showPopWin( bbcode, null, generalwizards(url_params), 600, 220, true );
			break;
		case "abbc3_thumb" :
			var url_params = new Array()
			url_params[0]=["{L_ABBC3_THUMB_MOVER}"					, "thumbnail"			, "/thumbnail", "{L_ABBC3_THUMB_NOTE}"]			;
			url_params[1]=["{L_ABBC3_LINK}{L_ABBC3_THUMB_TAG}"		, "http://"				, "{L_ABBC3_NOLINK}{L_ABBC3_THUMB_TAG}"]		;
			url_params[2]=[""   										, ""							, ""]												;
			showPopWin( bbcode, null, generalwizards(url_params), 600, 200, true );
			break;
		case "abbc3_img" :
			var url_params = new Array()
			url_params[0]=["{L_ABBC3_IMG_MOVER}"					, "img"					, "/img", "{L_ABBC3_IMG_NOTE}"]					;
			url_params[1]=["{L_ABBC3_LINK}{L_ABBC3_IMG_TAG}"		, "http://"				, "{L_ABBC3_NOLINK}{L_ABBC3_IMG_TAG}"]			;
			url_params[2]=[""   									, ""					, ""]											;
			showPopWin( bbcode, null, generalwizards(url_params), 600, 200, true );
			break;
		case "abbc3_imgshack" :
			showPopWin( bbcode, 'http://imageshack.us/iframe.php?txtcolor=111111&amp;type=blank&amp;size=30', null, 350, 100, true );
			break;
		case "abbc3_flash" :
			var url_params = new Array()
			url_params[0]=["{L_ABBC3_FLASH_MOVER}"					, "flash"				, "/flash", "{L_ABBC3_FLASH_NOTE}"]				;
			url_params[1]=["{L_ABBC3_LINK}{L_ABBC3_FLASH_TAG}"		, "http://"				, "{L_ABBC3_NOLINK}{L_ABBC3_FLASH_TAG}"]		;
			url_params[2]=[""										, ""					, ""]											;
			url_params[3]=["{L_ABBC3_WIDTH}"   						, "250"					, "{L_ABBC3_NOWIDTH}"]							;
			url_params[4]=["{L_ABBC3_HEIGHT}"   					, "250"					, "{L_ABBC3_NOHEIGHT}"]							;
			showPopWin( bbcode, null, generalwizards(url_params), 600, 220, true );
			break;
		case "abbc3_video" :
			var url_params = new Array()
			url_params[0]=["{L_ABBC3_VIDEO_MOVER}"					, "video"				, "/video", "{L_ABBC3_VIDEO_NOTE}"]				;
			url_params[1]=["{L_ABBC3_LINK}{L_ABBC3_VIDEO_TAG}"		, "http://"				, "{L_ABBC3_NOLINK}{L_ABBC3_VIDEO_TAG}"]		;
			url_params[2]=[""										, ""					, ""]											;
			url_params[3]=["{L_ABBC3_WIDTH}"   						, "400"					, "{L_ABBC3_NOWIDTH}"]							;
			url_params[4]=["{L_ABBC3_HEIGHT}"   					, "350"					, "{L_ABBC3_NOHEIGHT}"]							;
			showPopWin( bbcode, null, generalwizards(url_params), 600, 220, true );
			break;
		case "abbc3_stream" :
			var url_params = new Array()
			url_params[0]=["{L_ABBC3_STREAM_MOVER}"					, "stream"				, "/stream", "{L_ABBC3_STREAM_NOTE}"]			;
			url_params[1]=["{L_ABBC3_LINK}{L_ABBC3_STREAM_TAG}"		, "http://"				, "{L_ABBC3_NOLINK}{L_ABBC3_STREAM_TAG}"]		;
			url_params[2]=[""									   	, ""					, ""]											;
			showPopWin( bbcode, null, generalwizards(url_params), 600, 220, true );
			break;
		case "abbc3_quicktime" :
			var url_params = new Array()
			url_params[0]=["{L_ABBC3_QUICKTIME_MOVER}"				, "quicktime"			, "/quicktime", "{L_ABBC3_QUICKTIME_NOTE}"]		;
			url_params[1]=["{L_ABBC3_LINK}{L_ABBC3_QUICKTIME_TAG}"	, "http://"				, "{L_ABBC3_NOLINK}{L_ABBC3_QUICKTIME_TAG}"]	;
			url_params[2]=[""										, ""					, ""]											;
			url_params[3]=["{L_ABBC3_WIDTH}"  					 	, "320"					, "{L_ABBC3_NOWIDTH}"]							;
			url_params[4]=["{L_ABBC3_HEIGHT}" 					  	, "190"					, "{L_ABBC3_NOHEIGHT}"]							;
			showPopWin( bbcode, null, generalwizards(url_params), 600, 250, true );
			break;
		case "abbc3_ram" :
			var url_params = new Array()
			url_params[0]=["{L_ABBC3_RAM_MOVER}"					, "ram"					, "/ram", "{L_ABBC3_RAM_NOTE}"]					;
			url_params[1]=["{L_ABBC3_LINK}{L_ABBC3_RAM_TAG}"		, "http://"				, "{L_ABBC3_NOLINK}{L_ABBC3_RAM_TAG}"]			;
			url_params[2]=[""										, ""					, ""]											;
			url_params[3]=["{L_ABBC3_WIDTH}"  					 	, "300"					, "{L_ABBC3_NOWIDTH}"]							;
			url_params[4]=["{L_ABBC3_HEIGHT}" 					  	, "50"					, "{L_ABBC3_NOHEIGHT}"]							;
			showPopWin( bbcode, null, generalwizards(url_params), 600, 220, true );
			break;
		case "abbc3_stage6" :
			var url_params = new Array()
			url_params[0]=["{L_ABBC3_STAGE6_MOVER}"					, "stage6"				, "/stage6", "{L_ABBC3_STAGE6_NOTE}"]			;
			url_params[1]=["{L_ABBC3_LINK}{L_ABBC3_STAGE6_TAG}"		, "0"					, "{L_ABBC3_NOLINK}{L_ABBC3_STAGE6_TAG}"]		;
			url_params[2]=[""										, ""					, ""]											;
			url_params[3]=["{L_ABBC3_WIDTH}"						, "704"					, "{L_ABBC3_NOWIDTH}"]							;
			url_params[4]=["{L_ABBC3_HEIGHT}"   					, "496"					, "{L_ABBC3_NOHEIGHT}"]							;
			showPopWin( bbcode, null, generalwizards(url_params), 600, 220, true );
			break;
		case "abbc3_gvideo" :
			var url_params = new Array()
			url_params[0]=["{L_ABBC3_GVIDEO_MOVER}"					, "GVideo"				, "/GVideo", "{L_ABBC3_GVIDEO_NOTE}"]			;
			url_params[1]=["{L_ABBC3_LINK}{L_ABBC3_GVIDEO_TAG}"		, "http://"				, "{L_ABBC3_NOLINK}{L_ABBC3_GVIDEO_TAG}"]		;
			url_params[2]=[""										, ""					, ""]											;
			showPopWin( bbcode, null, generalwizards(url_params), 600, 220, true );
			break;
		case "abbc3_youtube" :
			var url_params = new Array()
			url_params[0]=["{L_ABBC3_YOUTUBE_MOVER}"				, "youtube"				, "/youtube", "{L_ABBC3_YOUTUBE_NOTE}"]			;
			url_params[1]=["{L_ABBC3_LINK}{L_ABBC3_YOUTUBE_TAG}"	, "http://"				, "{L_ABBC3_NOLINK}{L_ABBC3_YOUTUBE_TAG}"]		;
			url_params[2]=[""										, ""					, ""]											;
			showPopWin( bbcode, null, generalwizards(url_params), 600, 220, true );
			break;
		// MOD : add-on Veoh bbcode - START
		case "abbc3_veoh" :
			var url_params = new Array()
			url_params[0]=["{L_ABBC3_VEOH_MOVER}"					, "veoh"				, "/veoh", "{L_ABBC3_VEOH_NOTE}"]				;
			url_params[1]=["{L_ABBC3_LINK}{L_ABBC3_VEOH_TAG}"		, "http://"				, "{L_ABBC3_NOLINK}{L_ABBC3_VEOH_TAG}"]			;
			url_params[2]=[""										, ""					, ""]											;
			showPopWin( bbcode, null, generalwizards(url_params), 600, 220, true );
			break;
		// MOD : add-on Veoh bbcode - END
		case "abbc3_listb" :
			bbfontstyle( "[list][*]", "[/list]" );
			break;
		case "abbc3_listo" :
			bbfontstyle( "[list=1][*]", "[/list]" );
			break;
		case "abbc3_hr" :
			bbfontstyle( "[hr]", "" );
			break;
		case "abbc3_plain" :
			if ( oSelectRange != '' )
			{
				if ( ( clientVer >= 4 ) && is_ie && is_win )
				{
					temp = oSelectRange.text;
					document.selection.createRange().text = temp.replace(/\[[^\]]*\]/gi,"");
				}
				else if ( txtarea.selectionEnd && ( txtarea.selectionEnd - txtarea.selectionStart > 0 ) )
				{
					temp = oSelectRange;
					temp = temp.replace(/\[[^\]]*\]/gi,"");
					txtarea.value = s1 + temp + s3;

					txtarea.selectionStart = selEnd + open.length + close.length;
					txtarea.selectionEnd = txtarea.selectionStart;
				}
			}
			else
			{
				alert ( "{L_ABBC3_NOSELECT_ERROR}" );
				return;
			}
			break;
		case "abbc3_cut" :
			if ( oSelectRange != '' )
			{
				if ( ( clientVer >= 4 ) && is_ie && is_win )
				{
					document.selection.createRange().text = '';
				}
				else if ( txtarea.selectionEnd && ( txtarea.selectionEnd - txtarea.selectionStart > 0 ) )
				{
					txtarea.value = (txtarea.value).substring(0,selStart) + (txtarea.value).substring( selEnd, selLength );
				}
			}
			else
			{
				alert ( "{L_ABBC3_NOSELECT_ERROR}" );
				return;
			}
			break;
		case "abbc3_copy" :
			if ( oSelectRange != '' )
			{
				if ( ( clientVer >= 4 ) && is_ie && is_win )
				{
					copy_paste = oSelectRange.text;
				}
				else if ( txtarea.selectionEnd && ( txtarea.selectionEnd - txtarea.selectionStart > 0 ) )
				{
					copy_paste = oSelectRange;
				}
			}
			else
			{
				alert ( "{L_ABBC3_NOSELECT_ERROR}" );
				return;
			}
			break;
		case "abbc3_paste" :
			if ( copy_paste )
			{
				bbfontstyle( copy_paste, '' );
			}
			else
			{
				alert ( "{L_ABBC3_PASTE_ERROR}" );
			}
			break;
		case "abbc3_attach" :
			showPopWin( bbcode, '{S_ABBC3_ATTACH_PAGE}', null, 650, 250, true );
			txtarea.focus();
			break;

		/** Custom bbcodes **/
					

		default :
			alert ("{L_ABBC3_ERROR_TAG}"+bbcode);
			break;
	}

	oSelectRange = false;

}

var attachwizards = function ( bbcode )
{
	var atcaret_pos = getCaretPosition(document.forms[form_name].elements[text_name]).start;

	theBodyHTML  = '<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->';
	theBodyHTML +=	'<form id="abbc3_added_file" action="{ABBC3_ATTACH_PAGE}" method="post" enctype="multipart/form-data">' +
					'	<table id="frm" align="center" border="0" cellspacing="0" cellpadding="0" valign="top" class="content">' +
					'		<th valign="top" ><td align="center" colspan="2" nowrap><h2>{L_ABBC3_ATTACH_MOVER}</h2></td></th>' +
					'		<tr valign="top" >' + 
					'			<td align="left" nowrap><label for="fileupload">{L_FILENAME} :</label></td>' + 
					'			<td><input type="file"   name="fileupload" id="fileupload" maxlength="{ABBC3_ATTACH_FILESIZE}" value="" class="inputbox autowidth" />' +
					'				<input type="submit" name="add_file"   value="{L_ADD_FILE}" class="button2" onclick="upload = true;" />' +
					'				<input type="text" name="added_file" id="added_file" value="{ADDED_FILE_NAME}"/>' +
					'			</td>' +
					'		</tr>' +
					'		<tr valign="top" >' + 
					'			<td align="left" nowrap><label for="filecomment">{L_ABBC3_ATTACH_EXTENSION} :</label></td>' + 
					'			<td>{ABBC3_ATTACH_EXTENSION}</td>' +
					'		</tr>' +
					'	</table>' +
					'</form>';
	theBodyHTML +=	'<!-- IF ADDED_FILE -->
						<script language="javascript">
							var textarea = document.forms[form_name].elements[text_name];
							var varreturn = "[attachment=0]" + document.forms["abbc3_added_file"].elements["added_file"].value + "[/attachment]";
							
							if (!isNaN(textarea.selectionStart))
							{
								textarea.selectionStart = new_pos;
								textarea.selectionEnd = new_pos;
							}
							// IE
							else if (document.selection)
							{
								var range = textarea.createTextRange();
								range.move("character", new_pos);
								range.select();
								storeCaret(textarea);
							}
							bbfontstyle( varreturn, '');
							window.top.hidePopWin();
						</script>
					<!-- ENDIF -->';
	theBody = popupFrame.document.getElementsByTagName('BODY')[0].innerHTML = theBodyHTML;

}

var generalwizards = function ( params )
{
	var atcaret_pos = getCaretPosition(document.forms[form_name].elements[text_name]).start;

	if ( oSelectLength>0 && params[0][1] != 'table' )
	{
		params[0][1] = ( params[0][1].substring(params[0][1].length-1, params[0][1].length ) == '=' ) ? params[0][1].substring(0, params[0][1].length-1 ) : params[0][1] ;
		bbfontstyle( '[' + params[0][1] + ']', '[' + params[0][2] + ']', '');
		return ;
	}

	theBodyHTML = '<table id="frm" align="center" border="0" cellspacing="0" cellpadding="0" valign="top" class="content">' + 
						'<tr valign="top" ><td align="center" nowrap="nowrap" colspan="2"><h2>' + params[0][0] + '</h2><p style="font-size:0.8em">' + params[0][3] + '</p></td></tr>';
	if ( params[0][1] === 'table' )
	{
					for ( p=1; p<params.length; p++ )
					{
						if ( !params[p][0] || ( params[p][0] == '') ) { continue; }
	theBodyHTML +=		'<tr valign="top" ><td align="left" nowrap><label>' + params[p][0]+ '&nbsp;:</label></td><td><input type="text" id="promptbox[' + p + ']" class="promptbox" value="" size="50" /><input type="hidden" id="errorbox[' + p + ']" class="promptbox" value="' + params[p][2] + '" /><br /><span style="font-size:0.8em">' + params[p][1] + '</span><br /></td></tr>';
					}
	}
	else
	{
					for ( p=1; p<params.length; p++ )
					{
						if ( !params[p][0] || ( params[p][0] == '') ) { continue; }
	theBodyHTML +=		'<tr valign="top" ><td align="left" nowrap><label>' + params[p][0]+ '&nbsp;:</label></td><td><input type="text" id="promptbox[' + p + ']" class="promptbox" value="' + params[p][1] + '" size="50" /><input type="hidden" id="errorbox[' + p + ']" class="promptbox" value="' + params[p][2] + '" /></td></tr>';
					}
	}
	theBodyHTML +=		'<tr valign="top" ><td colspan="2"><input type="hidden" id="tag_open" value="' + params[0][1] + '" /> &nbsp; <input type="hidden" id="tag_close" value="' + params[0][2] + '" /></td></tr>' +
						'<tr valign="top" ><td align="center" colspan="2"><input type="button" class="btnbbcode3" value="{L_SUBMIT}" onclick="parent.win_accept(\'' + params[0][1] + '\','+ atcaret_pos + ')" /> &nbsp; <input type="button" class="btnbbcode3" value="{L_CANCEL}" onclick="parent.win_close();" /></td></tr>' +
					'</table>';
	theBody = popupFrame.document.getElementsByTagName('BODY')[0].innerHTML = theBodyHTML;

}

function win_accept( tag, atcaret_pos )
{

		var FoundErrors = '';
		var tag_open		= ( popupFrame.document.getElementById("tag_open")				) ? popupFrame.document.getElementById("tag_open").value							: '';
		var tag_close		= ( popupFrame.document.getElementById("tag_close")				) ? popupFrame.document.getElementById("tag_close").value		 					: '';

	if ( tag === 'table' )
	{
		var styleT			= ( popupFrame.document.getElementById("promptbox[" + 1 + "]")	) ? popupFrame.document.getElementById("promptbox[" + 1 + "]").value				: '';
		
		var enterR			= ( popupFrame.document.getElementById("promptbox[" + 2 + "]")	) ? popupFrame.document.getElementById("promptbox[" + 2 + "]").value				: '';
		var enterR_error	= ( popupFrame.document.getElementById("errorbox[" + 2 + "]")	) ? popupFrame.document.getElementById("errorbox[" + 2 + "]").value					: '';
		if ( !enterR && enterR_error			) { FoundErrors += '\n' + enterR_error; }

		var styleR			= ( popupFrame.document.getElementById("promptbox[" + 3 + "]")	) ? popupFrame.document.getElementById("promptbox[" + 3 + "]").value				: '';

		var enterC			= ( popupFrame.document.getElementById("promptbox[" + 4 + "]")	) ? popupFrame.document.getElementById("promptbox[" + 4 + "]").value				: '';
		var enterC_error	= ( popupFrame.document.getElementById("errorbox[" + 4 + "]")	) ? popupFrame.document.getElementById("errorbox[" + 4 + "]").value					: '';
		if ( !enterC && enterC_error			) { FoundErrors += '\n' + enterC_error; }

		var styleC			= ( popupFrame.document.getElementById("promptbox[" + 5 + "]")	) ? popupFrame.document.getElementById("promptbox[" + 5 + "]").value				: '';

		if ( FoundErrors != '' )
		{
			alert( "{L_ABBC3_ERROR}" + FoundErrors );
			return;
		}
		
		var Row = '';
		for ( var R = 0; R < parseInt ( enterR ); R++ )
		{
			Col = '';
			for ( var C = 0; C < parseInt ( enterC ); C++ )
			{
				Col += "[td=" + styleC + "]" + "[/td]";
			}
			Row += "[tr=" + styleR + "]" + Col + "[/tr]\n";
		}
		
		bbopen = '[' + tag_open + '=' + styleT + "]\n" + Row + '[' + tag_close + ']';
	}
	else
	{

		var tag_url			= ( popupFrame.document.getElementById("promptbox[" + 1 + "]")	) ? popupFrame.document.getElementById("promptbox[" + 1 + "]").value				: '';
		var tag_url_error	= ( popupFrame.document.getElementById("errorbox[" + 1 + "]")	) ? popupFrame.document.getElementById("errorbox[" + 1 + "]").value					: '';
		if ( !tag_url && tag_url_error			) { FoundErrors += '\n' + tag_url_error; }

		var tag_desc		= ( popupFrame.document.getElementById("promptbox[" + 2 + "]")	) ? popupFrame.document.getElementById("promptbox[" + 2 + "]").value				: '';
		var tag_desc_error	= ( popupFrame.document.getElementById("errorbox[" + 2 + "]")	) ? popupFrame.document.getElementById("errorbox[" + 2 + "]").value					: '';
//		if ( !tag_desc && tag_desc_error		) { FoundErrors += '\n' + tag_desc_error; }

		var tag_width		= ( popupFrame.document.getElementById("promptbox[" + 3 + "]")	) ? " width=" + popupFrame.document.getElementById("promptbox[" + 3 + "]").value	: '';
		var tag_width_error	= ( popupFrame.document.getElementById("errorbox[" + 3 + "]")	) ? popupFrame.document.getElementById("errorbox[" + 3 + "]").value					: '';
		if ( tag_width == " width=" && tag_width_error		) { FoundErrors += '\n' + tag_width_error; }

		var tag_height		= ( popupFrame.document.getElementById("promptbox[" + 4 + "]")	) ? " height=" + popupFrame.document.getElementById("promptbox[" + 4 + "]").value	: '';
		var tag_height_error= ( popupFrame.document.getElementById("errorbox[" + 4 + "]")	) ? popupFrame.document.getElementById("errorbox[" + 4 + "]").value					: '';
		if ( tag_height == " height=" && tag_height_error	) { FoundErrors += '\n' + tag_height_error; }

		if ( FoundErrors != '' )
		{
			alert( "{L_ABBC3_ERROR}" + FoundErrors );
			return;
		}

		close1 = ( tag_desc || tag_desc ) ? '' : ']' ;
		close2 = ( tag_desc || tag_desc ) ? ']' : '' ;
		

		bbopen = '[' + tag_open + tag_width + tag_height + close1 + tag_url + close2 + tag_desc + '[' + tag_close + ']';
	}
	win_close( bbopen, atcaret_pos );
}

function win_close( bbopen, new_pos )
{
	if ( bbopen )
	{
		var textarea = document.forms[form_name].elements[text_name];
		
		if (!isNaN(textarea.selectionStart))
		{
			textarea.selectionStart = new_pos;
			textarea.selectionEnd = new_pos;
		}	
		// IE
		else if (document.selection)
		{
			var range = textarea.createTextRange(); 
			range.move("character", new_pos); 
			range.select();
			storeCaret(textarea);
		}
		
		bbfontstyle( bbopen, '');
	}
	
	window.top.hidePopWin();

}

/**
* Dropdown Color pallette for highlight text & font text
*/
function ABBCcolorPalette( bbcode )
{
	var r = 4, g = 4, b = 4;
	var numberList = new Array(6);
	var color = '';

	numberList[0] = '00';
	numberList[1] = '40';
	numberList[2] = '80';
	numberList[3] = 'BF';
	numberList[4] = 'FF';

	for ( r = 4; r > -1; r-- )
	{
		for ( g = 4; g > -1; g-- )
		{
			for ( b = 4; b > -1; b-- )
			{
				color = String(numberList[r]) + String(numberList[g]) + String(numberList[b]);
				if ( bbcode == 'abbc3_fonthili')
				{
					document.write( '<option style="background-color:#' + color + '" value="' + color + '" >#' + color + '</option>' );
				}
				else
				{
					document.write( '<option style="color:#' + color + '" value="' + color + '" >#' + color + '</option>' );
				}
			}
		}
	}
}
// ]]>
</script>

	<table id="abbc3posttable" width="100%" border="1" cellspacing="0" cellpadding="0" valign="top">
		<tr align="{S_CONTENT_FLOW_BEGIN}">
			<td background="{T_IMAGESET_PATH}/bbcode_box/images/bg/{S_ABCC3_BG}" valign="middle" colspan="2">
				<span style="float:right;margin:3px 2px;"><a href="{S_ABBC3_HELP_PAGE}" target="_blank"><img src="{T_IMAGESET_PATH}/bbcode_box/images/help.gif" title="Advanced BBCode Box 3" /></a>&nbsp;<a href="http://www.mssti.com/phpbb3" target="_blank"><img src="{T_IMAGESET_PATH}/bbcode_box/images/info.gif"	title="Advanced BBCode Box 3" /></a></span>

<!-- IF S_ABBC3_TAB --><img src="{T_IMAGESET_PATH}/bbcode_box/images/dots.gif" class="btnbbcode3 dot"><!-- ENDIF -->

<!-- IF S_ABBC3_FONTTYPE -->
				<select name="abbc3_fonttype" onChange="bbfontstyle('[font=' + this.form.abbc3_fonttype.options[this.form.abbc3_fonttype.selectedIndex].value + ']', '[/font]'); this.form.abbc3_fonttype.selectedIndex = 0" onMouseOver="helpline2('abbc3_fonttype')" onMouseOut="helpline2()" title="{L_ABBC3_FONTTYPE_MOVER}">
					<option selected="selected" >- {L_ABBC3_FONTTYPE_MOVER} -</option>
					<optgroup label="- ABBC Box 3 -">
						<option style="font-family: Bradley Hand ITC;"		value="Bradley Hand ITC" >Bradley Hand ITC</option>
						<option style="font-family: Century Gothic;"		value="Century Gothic" >Century Gothic</option>
						<option style="font-family: Curlz MT;"				value="Curlz MT">Curlz MT</option>
						<option style="font-family: cursive;"				value="cursive">Cursive</option>
						<option style="font-family: fantasy;"				value="fantasy">Fantasy</option>
						<option style="font-family: French Script MT;"		value="French Script MT">French Script MT</option>
						<option style="font-family: Garamond;"				value="Garamond">Garamond</option>
						<option style="font-family: Garamond Bold;"			value="Garamond Bold">Garamond Bold</option>
						<option style="font-family: Goudy Stout;"			value="Goudy Stout">Goudy Stout</option>
						<option style="font-family: Helvetica;"				value="Helvetica">Helvetica</option>
						<option style="font-family: monospace;"				value="monospace">Monospace</option>
						<option style="font-family: OCR A Extended;"		value="OCR A Extended">OCR A Extended</option>
						<option style="font-family: Script MT Bold;"		value="Script MT Bold">Script MT Bold</option>
					</optgroup>
					<!-- http://typetester.maratz.com/ -->
					<optgroup label="- Safe list -">
						<option style="font-family: Arial;"					value="Arial">Arial</option>
						<option style="font-family: Arial Black;"			value="Arial Black">Arial Black</option>
						<option style="font-family: Comic Sans MS;"			value="Comic Sans MS">Comic Sans MS</option>
						<option style="font-family: Courier New;"			value="Courier New">Courier New</option>
						<option style="font-family: Georgia;"				value="Georgia">Georgia</option>
						<option style="font-family: Impact;"				value="Impact">Impact</option>
						<option style="font-family: Times New Roman;"		value="Times New Roman">Times New Roman</option>
						<option style="font-family: Trebuchet MS;"			value="Trebuchet MS">Trebuchet MS</option>
						<option style="font-family: Verdana;"				value="Verdana">Verdana</option>
					</optgroup>
					<optgroup label="- Win default -">
						<option style="font-family: Lucida Console;"		value="Lucida Console">Lucida Console</option>
						<option style="font-family: Lucida Sans Unicode;"	value="Lucida Sans Unicode">Lucida Sans Unicode</option>
						<option style="font-family: Microsoft Sans Serif;"	value="Microsoft Sans Serif">Microsoft Sans Serif</option>
						<option style="font-family: MS Mincho;"				value="MS Mincho">MS Mincho</option>
						<option style="font-family: Palatino Linotype;"		value="Palatino Linotype">Palatino Linotype</option>
						<option style="font-family: Symbol;"				value="Symbol">Symbol</option>
						<option style="font-family: Tahoma;"				value="Tahoma">Tahoma</option>
					</optgroup>
				</select>
<!-- ENDIF -->

<!-- IF S_ABBC3_TAB --><img src="{T_IMAGESET_PATH}/bbcode_box/images/dots.gif" class="btnbbcode3 dot"><!-- ENDIF -->

<!-- IF S_ABBC3_FONTSIZE -->
				<select name="abbc3_fontsize" style="width:100px;" onchange="bbfontstyle('[size=' + this.form.abbc3_fontsize.options[this.form.abbc3_fontsize.selectedIndex].value + ']', '[/size]'); this.form.abbc3_fontsize.selectedIndex = 0;" onMouseOver="helpline2('abbc3_fontsize')" onMouseOut="helpline2()" title="{L_ABBC3_FONTSIZE_MOVER}">
					<option selected="selected" >- {L_ABBC3_FONTSIZE_MOVER} -</option>
					<option style="font-size:50%"	value="50">{L_FONT_TINY}</option>
					<option style="font-size:85%"	value="85">{L_FONT_SMALL}</option>
					<option style="font-size:100%"	value="100">{L_FONT_NORMAL}</option>
					<option style="font-size:150%"	value="150">{L_FONT_LARGE}</option>
					<option style="font-size:200%"	value="200">{L_FONT_HUGE}</option>
					<option style="font-size:300%"	value="300">{L_ABBC3_FONT_GIANT}</option>
				</select>
<!-- ENDIF -->

<!-- IF S_ABBC3_TAB --><img src="{T_IMAGESET_PATH}/bbcode_box/images/dots.gif" class="btnbbcode3 dot"><!-- ENDIF -->

<!-- IF S_ABBC3_FONTHILI -->
				<select class="genmed"	name="abbc3_fonthili" onchange="bbfontstyle('[highlight=#' + this.form.abbc3_fonthili.options[this.form.abbc3_fonthili.selectedIndex].value + ']', '[/highlight]'); this.form.abbc3_fonthili.selectedIndex = 0;" onMouseOver="helpline2('abbc3_fonthili')" onMouseOut="helpline2()" title="{L_ABBC3_FONTHILI_MOVER}">
					<option selected="selected" >- {L_ABBC3_FONTHILI_MOVER}- </option>
					<script type="text/javascript">
					// <![CDATA[
						ABBCcolorPalette('abbc3_fonthili');
					// ]]>
					</script>
				</select>
<!-- ENDIF -->

<!-- IF S_ABBC3_TAB --><img src="{T_IMAGESET_PATH}/bbcode_box/images/dots.gif" class="btnbbcode3 dot"><!-- ENDIF -->

<!-- IF S_ABBC3_FONTCOLOR -->
				<select class="genmed"	name="abbc3_fontcolor" onchange="bbfontstyle('[color=#' + this.form.abbc3_fontcolor.options[this.form.abbc3_fontcolor.selectedIndex].value + ']', '[/color]'); this.form.abbc3_fontcolor.selectedIndex = 0;" onMouseOver="helpline2('abbc3_fontcolor')" onMouseOut="helpline2()" title="{L_ABBC3_FONTCOLOR_MOVER}">
					<option selected="selected" >- {L_ABBC3_FONTCOLOR_MOVER}- </option>
					<script type="text/javascript">
					// <![CDATA[
						ABBCcolorPalette('abbc3_fontcolor');
					// ]]>
					</script>
				</select>
<!-- ENDIF -->

<!-- IF S_ABBC3_TAB --><img src="{T_IMAGESET_PATH}/bbcode_box/images/dots.gif" class="btnbbcode3 dot"><!-- ENDIF -->

			</td>
		</tr>
		<tr align="{S_CONTENT_FLOW_BEGIN}">
			<td background="{T_IMAGESET_PATH}/bbcode_box/images/bg/{S_ABCC3_BG}" colspan="2">

<!-- IF S_ABBC3_TAB --><img src="{T_IMAGESET_PATH}/bbcode_box/images/dots.gif" class="btnbbcode3 dot"><!-- ENDIF -->

<!-- BEGIN abbc3_tags -->
				<img src="{T_IMAGESET_PATH}/bbcode_box/images/{abbc3_tags.TAG_SRC}"	class="btnbbcode3"	type="image"	name="{abbc3_tags.TAG_NAME}" 	onClick="bbstyle2('{abbc3_tags.TAG_NAME}')"		onMouseOver="helpline2('{abbc3_tags.TAG_NAME}')"		onMouseOut="helpline2()"	title="{abbc3_tags.TAG_MOVER}" />
	<!-- BEGIN break -->

		<!-- IF break.S_ABBC3_DIVISION -->

<!-- IF S_ABBC3_TAB --><img src="{T_IMAGESET_PATH}/bbcode_box/images/dots.gif" class="btnbbcode3 dot"><!-- ENDIF -->

	<!-- ENDIF -->

		<!-- IF break.S_ABBC3_BREAK -->

<!-- IF S_ABBC3_TAB --><img src="{T_IMAGESET_PATH}/bbcode_box/images/dots.gif" class="btnbbcode3 dot"><!-- ENDIF -->
			</td>
		</tr>
		<tr align="{S_CONTENT_FLOW_BEGIN}">
			<td background="{T_IMAGESET_PATH}/bbcode_box/images/bg/{S_ABCC3_BG}" colspan="2">

<!-- IF S_ABBC3_TAB --><img src="{T_IMAGESET_PATH}/bbcode_box/images/dots.gif" class="btnbbcode3 dot"><!-- ENDIF -->

		<!-- ENDIF -->

	<!-- END break -->

<!-- END abbc3_tags -->

<!-- IF S_ABBC3_TAB --><img src="{T_IMAGESET_PATH}/bbcode_box/images/dots.gif" class="btnbbcode3 dot"><!-- ENDIF -->

			</td>
		</tr>

<!-- IF S_BBCODE_ALLOWED and .custom_tags or .abbc3_custom_tags -->

		<tr align="{S_CONTENT_FLOW_BEGIN}">
			<td background="{T_IMAGESET_PATH}/bbcode_box/images/bg/{S_ABCC3_BG}" colspan="2">

<!-- IF S_ABBC3_TAB --><img src="{T_IMAGESET_PATH}/bbcode_box/images/dots.gif" class="btnbbcode3 dot"><!-- ENDIF -->

<!-- BEGIN abbc3_custom_tags -->
				<img src="{T_IMAGESET_PATH}/bbcode_box/images/{abbc3_custom_tags.TAG_SRC}"	class="btnbbcode3"	type="image"	name="abbc3_{abbc3_custom_tags.TAG_NAME}" 	onClick="bbfontstyle('{abbc3_custom_tags.TAG_OPEN}', '{abbc3_custom_tags.TAG_CLOSE}');"		onMouseOver="helpline2('{abbc3_custom_tags.TAG_NAME}')"		onMouseOut="helpline2()"	title="{abbc3_custom_tags.TAG_MOVER}" />
	<!-- BEGIN break -->
		<!-- IF break.S_ABBC3_DIVISION -->

<!-- IF S_ABBC3_TAB --><img src="{T_IMAGESET_PATH}/bbcode_box/images/dots.gif" class="btnbbcode3 dot"><!-- ENDIF -->

		<!-- ENDIF -->

		<!-- IF break.S_ABBC3_BREAK -->

<!-- IF S_ABBC3_TAB --><img src="{T_IMAGESET_PATH}/bbcode_box/images/dots.gif" class="btnbbcode3 dot"><!-- ENDIF -->

			</td>
		</tr>
		<tr align="{S_CONTENT_FLOW_BEGIN}">
			<td background="{T_IMAGESET_PATH}/bbcode_box/images/bg/{S_ABCC3_BG}" colspan="2">

<!-- IF S_ABBC3_TAB --><img src="{T_IMAGESET_PATH}/bbcode_box/images/dots.gif" class="btnbbcode3 dot"><!-- ENDIF -->

		<!-- ENDIF -->

	<!-- END break -->

<!-- END abbc3_custom_tags -->

<!-- BEGIN custom_tags -->
				<input style="margin:4px 0 0 0;"  type="button" class="button2" name="addbbcode{custom_tags.BBCODE_ID}" value="{custom_tags.BBCODE_TAG}" onclick="bbstyle({custom_tags.BBCODE_ID})" title="{custom_tags.BBCODE_TIPLINE}" />
<!-- END custom_tags -->

<!-- IF S_ABBC3_TAB --><img src="{T_IMAGESET_PATH}/bbcode_box/images/dots.gif" class="btnbbcode3 dot"><!-- ENDIF -->

			</td>
		</tr>

<!-- ENDIF -->

		<tr>
			<td colspan="2">
				<input type="text" readonly="readonly" name="helpbox" style="width:99%" class="helpline" value="{L_STYLES_TIP}" />
			</td>
		</tr>

	</table>
	
	<div id="popupMask"></div>
	<!-- Gradient pseudo pop-up - START-->
	<div id="popupContainer">
		<div id="popupInner">
			<div id="popupTitleBar">
				<img src="{T_IMAGESET_PATH}/bbcode_box/images/close.gif" onclick="hidePopWin(false);" id="popCloseBox" /><a href="http://www.mssti.com/phpbb3">Advanced BBCode Box 3</a>
			</div>
			<iframe src="{T_IMAGESET_PATH}/bbcode_box/abbcode_loading.html" style="width:100%;height:100%;background-color:transparent;" scrolling="auto" frameborder="0" allowtransparency="true" id="popupFrame" name="popupFrame" width="100%" height="100%"></iframe>
		</div>
	</div>
	<!-- Gradient pseudo pop-up - END-->

<!-- // MOD : Advanced BBCode Box 3 (V1.0.7) - END -->