<!-- INCLUDE overall_header.html -->

<a name="faqtop"></a>

<div id="pagecontent">

	<table class="tablebg" width="100%" cellspacing="1">
		<tr>
			<th><span style="float: right;">{L_ABBC3_HELP_ABOUT}</span><br/>{L_ABBC3_HELP_TITLE}</th>
		</tr>
	</table>
	
	<br clear="all" />
	
	<table class="tablebg" width="100%" cellspacing="1">
		<!-- BEGIN bbc_row -->
		<tr> 
			<td class="cat" align="center"><h4>{L_ABBC3_HELP_DESC} : <strong>{bbc_row.ABBC3_HELP_DESC}</strike></h4></td>
		</tr>
		<tr> 
			<td class="<!-- IF bbc_row.S_ROW_COUNT is even -->row1<!-- ELSE -->row2<!-- ENDIF -->" valign="top">
				<div class="postbody"><b>&#187; {L_ABBC3_HELP_WRITE} :</b></div>
				<div class="postbody">{bbc_row.ABBC3_HELP_WRITE}</div>
			</td>
		</tr>
		<tr>
			<td class="spacer" height="1"><img src="images/spacer.gif" alt="" width="1" height="1" /></td>
		</tr>
		<tr>
			<td class="<!-- IF bbc_row.S_ROW_COUNT is even -->row1<!-- ELSE -->row2<!-- ENDIF -->" valign="top">
				<div class="postbody"><b>&#187; {L_ABBC3_HELP_VIEW} :</b></div>
				<div class="postbody">{bbc_row.ABBC3_HELP_VIEW}</div>
				<br clear="all" /><p class="gensmall"><a href="#faqtop">{L_BACK_TO_TOP}</a></p>
			</td>
		</tr>
		<!-- END bbc_row -->
	</table>

	<!-- IF .bbc_custom_row -->
	
	<br clear="all" />

	<table class="tablebg" width="100%" cellspacing="1">
		<tr>
			<th colspan="2">{L_ABBC3_HELP_CUSTOM_TITLE}</th>
		</tr>
	</table>
	
	<br clear="all" />
	
	<table class="tablebg" width="100%" cellspacing="1">
		<!-- BEGIN bbc_custom_row -->
		<tr> 
			<td class="cat" colspan="2"><h4>{L_ABBC3_HELP_DESC} : {bbc_custom_row.ABBC3_HELP_DESC}<h4></td>
		</tr>
		<tr> 
			<td class="row1" valign="top">
				<div class="postbody"><b>&#187; {L_ABBC3_HELP_WRITE} :</b></div>
				<div class="postbody">{bbc_custom_row.ABBC3_HELP_WRITE}</div>
			</td>
		</tr>
		<tr>
			<td class="spacer" height="1"><img src="images/spacer.gif" alt="" width="1" height="1" /></td>
		</tr>
		<tr>
			<td class="row2" valign="top">
				<div class="postbody"><b>&#187; {L_ABBC3_HELP_VIEW} :</b></div>
				<div class="postbody">{bbc_custom_row.ABBC3_HELP_VIEW}</div>
				<br clear="all" /><p class="gensmall"><a href="#faqtop">{L_BACK_TO_TOP}</a></p>
			</td>
		</tr>
		<!-- END bbc_custom_row -->
	</table>

	<!-- ENDIF -->

</div>

<br clear="all" />

<!-- INCLUDE overall_footer.html -->